[submodule "vim/.vim/pack/vi-improved/start/base16-vim"]
	path = vim/.vim/pack/vi-improved/start/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "vim/.vim/pack/vi-improved/start/vim-abolish"]
	path = vim/.vim/pack/vi-improved/start/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/pack/vi-improved/start/vim-commentary"]
	path = vim/.vim/pack/vi-improved/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/vi-improved/start/vim-eunuch"]
	path = vim/.vim/pack/vi-improved/start/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/.vim/pack/vi-improved/start/vim-fugitive"]
	path = vim/.vim/pack/vi-improved/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/vi-improved/start/vim-repeat"]
	path = vim/.vim/pack/vi-improved/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/vi-improved/start/vim-rsi"]
	path = vim/.vim/pack/vi-improved/start/vim-rsi
	url = git://github.com/tpope/vim-rsi.git
[submodule "vim/.vim/pack/vi-improved/start/vim-sensible"]
	path = vim/.vim/pack/vi-improved/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/vi-improved/start/vim-sneak"]
	path = vim/.vim/pack/vi-improved/start/vim-sneak
	url = git://github.com/justinmk/vim-sneak.git
[submodule "vim/.vim/pack/vi-improved/start/vim-surround"]
	path = vim/.vim/pack/vi-improved/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/vi-improved/start/vim-unimpaired"]
	path = vim/.vim/pack/vi-improved/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/pack/vi-improved/start/vim-endwise"]
	path = vim/.vim/pack/vi-improved/start/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/.vim/pack/vi-improved/start/editorconfig-vim"]
	path = vim/.vim/pack/vi-improved/start/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/vi-improved/start/vim-polyglot"]
	path = vim/.vim/pack/vi-improved/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
