[client]
user = root
pager = less -n -i -S
database = doximity_dev

[clientproduction]
host = 173.247.113.100
port = 3308
user = eberner
pager = less -n -i -S
database = 3md
ssl-key = /Users/maletor/.ssh/bb-eberner-mysql.key
ssl-cert = /Users/maletor/.ssh/bb-eberner-mysql.crt
ssl-cipher = AES256-SHA
password

[clientdogfish]
host = db.dogfish.dox.pub
user = eberner
pager = less -n -i -S
database = 3md
ssl-key = /Users/maletor/.ssh/bb-eberner-mysql.key
ssl-cert = /Users/maletor/.ssh/nonprod-eberner-mysql.crt
ssl-cipher = AES256-SHA
password
